<div class="menu-container">
    <header class="menu-header">
      <h1 class="menu-title">Nuestro Menú</h1>
      <h3 class="menu-title">HAMBURGO</h3>
    </header>
  
    <section class="menu-items">
      <!-- Item 1 -->
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-12-04 a las 18.17.23_60f6e02d.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Carne</h2>
          <p class="menu-item-description">Pan,Vegetales,Carne de 139gr,jamón y queso</p>
          <span class="menu-item-price">$9.500</span>
          <br>
         
          
   

          <app-ventana></app-ventana>

        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Pollo</h2>
          <p class="menu-item-description">Pan, Vegetales, Carne de 130gr, pollo desmechado50gr, jamón y queso</p>
          <span class="menu-item-price">$12.000</span>
          <br>
          
        
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.42_7fa2693d.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mixta a la plancha</h2>
          <p class="menu-item-description">Pan,vegetales, Carne de 130gr, pollo desmechado 50gr, jamón y queso</p>
          <span class="menu-item-price">$13.000</span>
          <br>
          
        
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Doble carne</h2>
          <p class="menu-item-description">Pan,Vegetales, Doscarnesde 130gr c/u, jamos y queso</p>
          <span class="menu-item-price">$15.000</span>
          <br>
         
       
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mixta a al carbon</h2>
          <p class="menu-item-description">Pan, Vegetales, carne 130gr, Pechuga al carbón de 80gr, jamos y queso</p>
          <span class="menu-item-price">$15.000</span>
          <br>
          
       
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Tocineta</h2>
          <p class="menu-item-description">Pan, Vegetales, Carne de 130gr, jamón y queso, pollo desmechado y tocineta</p>
          <span class="menu-item-price">$16.500</span>
          <br>
          
      
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Venezolana</h2>
          <p class="menu-item-description">Pan, Vegetales, Carne 130gr, pollo desmechado, Carne desmechada, jamón, queso y huevo frito </p>
          <span class="menu-item-price">$17.00 </span>
          <br>
          

        </div>
      </div>


      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Hawaian</h2>
          <p class="menu-item-description">Pan, Vegetales, CArne 130gr, jamón, queso, pollo desmechado, tocineta trocitos de piña</p>
          <span class="menu-item-price">$17.000</span>
          <br>
          
     
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mexicana</h2>
          <p class="menu-item-description">Pan, vegetales, salsa picante,pimentón, 150grde carne en julianas, 50gr de polllo en julianas, chorizo antioqueño, chorizo de coctek y queso gratinado. con papas ala francesa </p>
          <span class="menu-item-price">$21.000</span>
          <br>
          

        </div>
      </div>
      
      
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mega ranchera</h2>
          <p class="menu-item-description">Pan, Vegetales, carne de 140 gr, pechuga al carbon, tocineta, salchi ranchera,jamón y queso gratinado. con papas ala francesa</p>
          <span class="menu-item-price">$21.000</span>
          <br>
          

        </div>
      </div>


      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Colombiana</h2>
          <p class="menu-item-description">Pan, Carne y pollo en julianas, Vegetales frescos jamón y queso, aguacate, maicitos, tocineta. queso gratinado encima y con papa a la francesa</p>
          <span class="menu-item-price">$22.000</span>
          <br>
          
     
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Houston Cheddar</h2>
          <p class="menu-item-description">Vegetales, carne de 130gr al carbón, chorizo antioqueño, tocineta, jalapeño, pepinillos, dalda chedar, chorizo coctel, cebolla caramelizada y cubierto de queso cheddar fundido con papa a la francesa</p>
          <span class="menu-item-price">$22.000</span>
          <br>
          
     
        </div>
      </div>

      <p class="menu-item-description"></p>
      

      <!-- Añade más items según tu menú -->

      


    </section>
    <hr>

    <header class="menu-header">
      <h3 class="menu-title">PIZZA</h3>
     
    </header>

    <h2 class="menu-title" >
      Tradicional
    </h2>
    <h6 class="menu-titlepizza" >
      4 Porciones:
      $17.000
      <br>
      8 Porciones:
      $28.000
      <br>
      16 Porciones:
      48.000
    </h6>
    <hr>
    <section class="menu-items-pizza ">
      <!-- Aqui va todas las pizzas tradicionales inicio -->
      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Champiñones</h2>
          <p class="menu-item-description">
            Champiñon. Pollo y queso
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>
      

      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Hawaian</h2>
          <p class="menu-item-description">
            Jamon, piña y queso
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>
      
      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Napolitana</h2>
          <p class="menu-item-description">
            Tomate, champiñon y queso 
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>
      
      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Bocadillo</h2>
          <p class="menu-item-description">
            Bocadillo y queso
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>
      

      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Ranchera</h2>
          <p class="menu-item-description">
            Jamon, chorizo cabano, tocineta y queso
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>
      


      <!-- Aqui va todas las pizzas tradicionales fin -->
    </section>

    <hr>


    <h2 class="menu-title" >
      Especial
    </h2>
    <h6 class="menu-titlepizza" >
      4 Porciones:
      $18.000
      <br>
      8 Porciones:
      $30.000
      <br>
      16 Porciones:
      50.000
    </h6>
    <hr>
    <section class="menu-items-pizza ">
      <!-- Aqui va todas las pizzas Especial inicio -->
      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Italiana</h2>
          <p class="menu-item-description">
            Jamon, pollo, tocineta y queso
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mexicana</h2>
          <p class="menu-item-description">
            Cebolla, chorizo, cabano, carne molida, Aji jalapeño y queso
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Vegetariana</h2>
          <p class="menu-item-description">
            Cebolla, tomate, champiñon, pimentón, aceitunas y queso (Sal, de ajop y oregano)
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      <div class="menu-item">

        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Campesina</h2>
          <p class="menu-item-description">
            Jamon, tocineta, maicito, queso
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>
      <!-- Aqui va todas las pizzas Especial fin -->
    </section>
    <hr>
    <h2 class="menu-title" >
      PIZZA GOURMET
    </h2>
    <h6 class="menu-titlepizza" >
      4 Porciones:
      $20.000
      <br>
      8 Porciones:
      $36.000
      <br>
      16 Porciones:
      $55.000
    </h6>
    <hr>
    <section class="menu-items-pizza ">
      <!-- Aqui va todas las pizzas PIZZA GOURMET inicio -->
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Lisboa</h2>
          <p class="menu-item-description">
            Pollo, camarones, pimiento,borde de queso mozarella
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Bremen</h2>
          <p class="menu-item-description">
            Fajitas de carne, papa a la francesa, queso,borde dequeso, Mazerella salsa carbonara.
          </p>
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Peperoni</h2>
          <p class="menu-item-description">
           Queso, peperoni, Borde de queso mozarella
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">⭐Hamburgo⭐</h2>
          <p class="menu-item-description">
          Jamon de pierna, champiñon salteado en ajo,
          salami, chorizo, pollo, tocineta, pimientos y queso.
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>


      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">ROMANA</h2>
          <p class="menu-item-description">
          Cebolla caramelizada, peperoni, tomate macerado, borde de queso mozarella.
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">AUVERNIA</h2>
          <p class="menu-item-description">
            Pesto, champiñon,queso azul, borde de queso mozarella, salsa carbonara.
          <!-- <span class="menu-item-price">Precio</span> -->
          <br>
        </div>
      </div>

      





      <!-- Aqui va todas las pizzas PIZZA GOURMET fin -->
    </section>
    <hr>

    <h2 class="menu-title" >
      PIZZA BURGER
    </h2>
    <section class="menu-items-pizza ">
      <!-- Aqui va todas las pizzas PIZZA GOURMET inicio -->
      <div class="menu-item">
        <!-- <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image"> -->
        <div class="menu-item-info">
          <h2 class="menu-item-title">Discreta</h2>
          <p class="menu-item-description">
            Lechuga, tomate, cebolla grille, carne y queso con papas a la francesa
          </p>
          <span class="menu-item-price">Presio: $18.000 </span>
          <br>
        </div>
      </div>

      <div class="menu-item">
        <!-- <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image"> -->
        <div class="menu-item-info">
          <h2 class="menu-item-title">Intensa</h2>
          <p class="menu-item-description">
            Lechuda, tomate, cebolla grille, tocineta, Carne
            pechuga, jamon y queso con papas a la francesa
          </p>
          <span class="menu-item-price">Presio: $22.000</span>
          <br>
        </div>
      </div>


      <!-- Aqui va todas las pizzas PIZZA GOURMET fin -->
    </section>

    <h2 class="menu-title" >
      PANZEROTTI
    </h2>
    <section class="menu-items-pizza ">
      <!-- Aqui va todas las pizzas PIZZA GOURMET inicio -->
      <div class="menu-item">
        <!-- <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image"> -->
        <div class="menu-item-info">
          <h2 class="menu-item-title">Tradicional</h2>
          <p class="menu-item-description">
            Chanpiñones, Hawaian, Napolitana, Bocadillo y ranchera
          </p>
          <span class="menu-item-price">Presio: $16.000</span>
          <br>
        </div>
      </div>

      <div class="menu-item">
        <!-- <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image"> -->
        <div class="menu-item-info">
          <h2 class="menu-item-title">Especial</h2>
          <p class="menu-item-description">
            Italiana, Vegetariana, Mexicana, Camarones
          </p>
          <span class="menu-item-price">Presio: $18.000</span>
          <br>
        </div>
      </div>
      <!-- Aqui va todas las pizzas PIZZA GOURMET fin -->
    </section>
    <hr>
    <h2 class="menu-title" >
      ⭐CHICAGO⭐
    </h2>
    <hr>
    <section class="menu-items-pizza ">
      <!-- Aqui va todas las pizzas PIZZA GOURMET inicio -->
      <div class="menu-item">
        <!-- <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image"> -->
        <div class="menu-item-info">
          <h2 class="menu-item-title">Campesina y Romana</h2>
          <!-- <p class="menu-item-description">
            Descripcion.
          </p> -->
          <span class="menu-item-price">Mini: $25.000 </span>
          <br>
        </div>
      </div>
      

      <div class="menu-item">
        <!-- <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image"> -->
        <div class="menu-item-info">
          <h2 class="menu-item-title">Hawaian y AUVERNIA</h2>
          <!-- <p class="menu-item-description">
            Descripcion.
          </p> -->
          <span class="menu-item-price">Grande: $38.000 </span>
          <br>
        </div>
      </div>

      <!-- Aqui va todas las pizzas PIZZA GOURMET fin -->
    </section>
    <hr>






  </div>
