/* Estructura general */
.menu-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
   
  }
  
  .menu-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .menu-title {
    
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    
  }
  .menu-titlepizza {
    border: 0px;
    padding: 0%;
    font-size: 1.5em;
    font-weight: bold;
    color: #f88e15;
    /* border: solid red; */
  }



  
  /* Estilos para cada item del menú */
  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }


  .menu-items-pizza {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    background-color: rgb(255, 255, 255)74);
    border-radius: 20px;
    padding: 10px;
  }

  
  .menu-item {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .menu-item-info {
    padding: 20px;
    text-align: center;
  }
  
  .menu-item-title {
    font-size: 1.8em;
    color: #333;
    margin: 10px 0;
  }
  
  .menu-item-description {
    font-size: 1em;
    color: #777;
    margin: 10px 0;
  }
  
  .menu-item-price {
    font-size: 1.5em;
    color: #27ae60;
    margin: 10px 0;
  }
  
  .order-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .order-btn:hover {
    background-color: #219150;
  }
  
  /* Estilos responsivos para pantallas más pequeñas */
  @media (max-width: 768px) {
    .menu-title {
      font-size: 2em;
    }
  
    .menu-item-info {
      padding: 10px;
    }
  
    .menu-item-title {
      font-size: 1.5em;
    }
  
    .menu-item-price {
      font-size: 1.3em;
    }
  }
  