<div class="menu-container">
    <header class="menu-header">
      <h1 class="menu-title">Nuestro Menú</h1>
      <h3 class="menu-title">HAMBURGO</h3>
    </header>
  
    <section class="menu-items">
      <!-- Item 1 -->
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-12-04 a las 18.17.23_60f6e02d.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Carne</h2>
          <p class="menu-item-description">Pan,Vegetales,Carne de 139gr,jamón y queso</p>
          <span class="menu-item-price">$9.500</span>
          <br>
         
          <button class="order-btn" (click)="abrirModal()">Pedir</button>
   

          <app-ventana></app-ventana>

        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Pollo</h2>
          <p class="menu-item-description">Pan, Vegetales, Carne de 130gr, pollo desmechado50gr, jamón y queso</p>
          <span class="menu-item-price">$12.000</span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>
        
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.42_7fa2693d.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mixta a la plancha</h2>
          <p class="menu-item-description">Pan,vegetales, Carne de 130gr, pollo desmechado 50gr, jamón y queso</p>
          <span class="menu-item-price">$13.000</span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>
        
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Doble carne</h2>
          <p class="menu-item-description">Pan,VEgetales, Doscarnesde 130gr c/u, jamos y queso</p>
          <span class="menu-item-price">$15.000</span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>
       
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mixta a al carbon</h2>
          <p class="menu-item-description">Pan, Vegetales, carne 130gr, Pechuga al carbón de 80gr, jamos y queso</p>
          <span class="menu-item-price">$15.000</span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>
       
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Tocineta</h2>
          <p class="menu-item-description">Pan, VEgetales, Carne de 130gr, jamón y queso, pollo desmechado y tocineta</p>
          <span class="menu-item-price">$16.500</span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>
      
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Venezolana</h2>
          <p class="menu-item-description">Pan, Vegetales, Carne 130gr, pollo desmechado, Carne desmechada, jamón, queso y huevo frito </p>
          <span class="menu-item-price">$17.00 </span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>

        </div>
      </div>


      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Hawaian</h2>
          <p class="menu-item-description">Pan, Vegetales, CArne 130gr, jamón, queso, pollo desmechado, tocineta trocitos de piña</p>
          <span class="menu-item-price">$17.000</span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>
     
        </div>
      </div>

      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mexicana</h2>
          <p class="menu-item-description">Pan, vegetales, salsa picante,pimentón, 150grde carne en julianas, 50gr de polllo en julianas, chorizo antioqueño, chorizo de coctek y queso gratinado. con papas ala francesa </p>
          <span class="menu-item-price">$21.000</span>
          <br>
          <button class="order-btn" (click)="abrirModal()">Pedir</button>

        </div>
      </div>
      
      
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Mega ranchera</h2>
          <p class="menu-item-description">Pan, Vegetales, carne de 140 gr, pechuga al carbon, tocineta,salchipapa ranchera,jamón y queso gratinado. con papas ala francesa</p>
          <span class="menu-item-price">$9.500</span>
          <br>
          

        </div>
      </div>


      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Colombiana</h2>
          <p class="menu-item-description">Pan, CArne y pollo en julianas, Vegetales frescos jamón y queso, aguacate, maicitos, tocineta. queso gratinado encima y con papa a la francesa</p>
          <span class="menu-item-price">$9.500</span>
          <br>
          
     
        </div>
      </div>
      <div class="menu-item">
        <img src="assets/Imagen de WhatsApp 2024-10-12 a las 12.31.41_050dca7f.jpg" alt="Platillo 1" class="menu-item-image">
        <div class="menu-item-info">
          <h2 class="menu-item-title">Houston Cheddar</h2>
          <p class="menu-item-description">Vegetales, carne de 130gr al carbón, chorizo antioqueño, tocineta, jalapeño, pepinillos, dalda chedar, chorizo coctel, cebolla caramelizada y cubierto de queso cheddar fundido con papa a la francesa</p>
          <span class="menu-item-price">$9.500</span>
          <br>
          
     
        </div>
      </div>

      <p class="menu-item-description"></p>
      

      <!-- Añade más items según tu menú -->
    </section>



  </div>
